repos:
    # python import sorting - will amend files
    - repo: https://github.com/pre-commit/mirrors-isort
      rev: v5.9.1
      hooks:
          - id: isort
            language_version: python3.8

    # python code formatting - will amend files
    - repo: https://github.com/ambv/black
      rev: 21.6b0
      hooks:
          - id: black
            language_version: python3.8

    # Flake8 includes pyflakes, pycodestyle, mccabe, pydocstyle, bandit
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.9.2
      hooks:
          - id: flake8
            language_version: python3.8
            additional_dependencies: ["flake8-docstrings", "flake8-bandit"]
            exclude: tests|migrations

    # python static type checking
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.910
      hooks:
          - id: mypy
            language_version: python3.8
            args:
                - --disallow-untyped-defs
                - --disallow-incomplete-defs
                - --check-untyped-defs
                - --no-implicit-optional
                - --ignore-missing-imports
                - --follow-imports=silent
            exclude: ^tests
